<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="version" content="<%= htmlWebpackPlugin.options.version %>">

    <script>
      window.document.write(`<meta http-equiv="refresh" content="0;URL=<%= htmlWebpackPlugin.options.pathPrefix %>/?redirect=${
        encodeURI(window.location.pathname + window.location.search + window.location.hash)
      }">`);
    </script>
  </head>

  <body>
    <noscript>
      This application requires JavaScript.
    </noscript>
  </body>

</html>
